<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css" />
      
    <title>Wilest</title>
  </head>
  <body>
    <!-- BOTON DE IR ARRIBA -->
    <div id="btn-top">
      <span class="fas fa-angle-up"></span>
    </div>

    <!-- MENU PRINCIPAL -->
    <div class="menu-principal">
      <div class="logo" id="logo">
        <a href ="index.html"><img src="../img/logo.png" alt="Logo" /></a>
      </div>

      <div class="menu-bar" id="menuBar">
        <i class="fas fa-angle-right" id="btnMenuClose"></i>
        

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="/Wilest/view/Login.html">Login</a></li>
            <li><a href="/Wilest/view/Register.html">Registrarse</a></li>
          </ul>
        </nav>

        <div class="sociales">
          <!--<li><a href="/Wilest/view/Login.html">Login</a></li>-->
          <a href="/Wilest/view/site.html"><span class="fa fa-cart-plus"></span></a>
          

        </div>
      </div>

      <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>

    <!-- SLIDER DE PRODUCTOS -->
    <section id="menu-productos">
      <div class="contenedor-principal">
        <button id="btn-izquierda">
          <span class="fas fa-angle-left"></span>
        </button>

        <div class="slider">
          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>premium</b></h2>
              <h1>Mouse Redragon</h1>
              <p>
                Lo que tienes que saber de este producto
                Utiliza cable.
                Posee rueda de desplazamiento.
                Cuenta con 8 botones para un mayor control.
                Con luces para mejorar la experiencia de uso.
                Con sensor óptico.
                Resolución de 10000dpi.
                Creado para llevar a todas partes.
                Control inteligente y navegación fácil.
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-productos">
              <img src="../img/menu/peperoni.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>premium</b></h2>
              <h1>Mouse Gamer 7D</h1>
              <p>
                New Professional 3200DPI LED Optical 7Button USB Wired Gaming Mouse Mice For PC Laptop Computer Game Lucky
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-productos">
              <img src="../img/menu/especial.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>básico</b></h2>
              <h1>Teclado RGb</h1>
              <p>
                Mejora tu capacidad gamer  a un nivel superior con el teclado gamer que necesitas para ganar. en PCWare encuentras los de tipo membrana o lo mas eficientes  y duraderos tipo mecánico, descubre como con nuestros teclados gamer llevar tu poder de combate y entretenimiento al nivel que quieres tecalod gaming con retroiluminación, que permiten grabación de macros, y, espectaculares luces iluminación RGB para que disfrutes  tus sesiones gaming al máximo. 
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-productos">
              <img src="../img/menu/margarita.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>premium</b></h2>
              <h1>Audifonos Gamer</h1>
              <p>
                Audifonos Gamer de color azul, con una entrada tipo USB
                audio Dolby 7.0 con cancelacion de sonido a el mejor precio
                del mercado
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-productos">
              <img src="../img/menu/americana.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>especial</b></h2>
              <h1>PORTATIL ASUS TUF GAMING </h1>
              <p>
                
                Los portátiles de gaming 1660 Ti cuentan con el innovador rendimiento gráfico
                de la galardonada arquitectura NVIDIA Turing™. Con un rendimiento que rivaliza
                con la GPU GeForce GTX 1070 para portátiles, disfrutarás de una experiencia ultrarrápida
                con los juegos más populares de la actualidad.
            
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-productos">
              <img src="../img/menu/suprema.png" alt="" />
            </div>
          </div>
        </div>

        <button id="btn-derecha">
          <span class="fas fa-angle-right"></span>
        </button>
      </div>
    </section>

    <!-- SECCION SERVICIOS -->
    <section id="servicios">
      <div class="servicios-titulos">
        <h2 class="subtitulos">Aca estan todos los beneficios</h2>
        <h1 class="titulos">Bienvenidos a Wilest</h1>
      </div>

      <div class="servicios-container">
        <div class="imagen-central">
          <img src="../img/mitad-mitad.png" alt="" />
        </div>

        <div class="items calidad">
          <p><span class="fas fa-dollar-sign"></span></p>
          <p class="titulo-item">Calidad</p>
          <p class="texto-item">
            Todos los productos con la mejor calidad
          </p>
        </div>

        <div class="items ingredientes">
          <p><span class="fas fa-check"></span></p>
          <p class="titulo-item">Productos seguros</p>
          <p class="texto-item">
            Nuestra pagina cuenta con una seguridad de productos
          </p>
        </div>

        <div class="items rapidez">
          <p><span class="fas fa-clock"></span></p>
          <p class="titulo-item">Rápidez</p>
          <p class="texto-item">
            Con envios en menos de 24 Horas
          </p>
        </div>

        <div class="items delivery">
          <p><span class="fas fa-shipping-fast"></span></p>
          <p class="titulo-item">Delivery</p>
          <p class="texto-item">
            Con envios totalmente seguros y tu producto no se dañara
          </p>
        </div>
      </div>
    </section>

    <!-- SECCION DE EQUIPO -->
    <section id="equipo">
      <div class="persona">
        <img src="../img/perfil1.png" alt="" class="persona-imagen" />
        
      </div>

      <div class="persona">
        <img src="../img/perfil2.png" alt="" class="persona-imagen" />
        <div class="persona-info">
      
      
        </div>
      </div>

      <div class="persona">
        <img src="../img/perfil3.png" alt="" class="persona-imagen" />
        <div class="persona-info">
        
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="../img/perfil4.png" alt="" class="persona-imagen" />
        <div class="persona-info">
       
       
        </div>
      </div>
    </section>

    <!-- SECCION DE INGREDIENTES -->
    <section id="ingredientes">
      <div class="ingre">
        <img src="../img/ingredientes1.jpg" alt="" class="imagen-ingre" />
        <div class="info-ingre">
          <p><span class="fas fa-laptop"></span></p>
          <p class="txt-ingre">Tecnologia</p>
        </div>
      </div>

      <div class="ingre">
        <img src="../img/ingredientes2.jpg" alt="" class="imagen-ingre" />
        <div class="info-ingre">
          <p><span class="fas fa-futbol"></span></p>
          <p class="txt-ingre">Deportes y Fitness</p>
        </div>
      </div>

      <div class="ingre">
        <img src="../img/ingredientes3.jpg" alt="" class="imagen-ingre" />
        <div class="info-ingre">
          <p><span class="fas fa-toolbox"></span></p>
          <p class="txt-ingre">Herramientas</p>
        </div>
      </div>

      <div class="ingre">
        <img src="../img/ingredientes4.jpg" alt="" class="imagen-ingre" />
        <div class="info-ingre">
          <p><span class="fas fa-tshirt"></span></p>
          <p class="txt-ingre">Moda</p>
        </div>
      </div>
    </section>

    <!-- SECCION CONTACTO -->
    <section id="contacto">
      <div class="titulo-contacto">
        <h2 class="subtitulos">Queremos conocer tu opinión</h2>
        <h1 class="titulos">Contáctanos</h1>
      </div>

      <form action="" id="formulario">
        <div class="two-fiels">
          <div class="inputConIcon">
            <input
              type="text"
              id="nombre"
              name="nombre"
              class="input-text"
              placeholder="Nombre"
            />
            <i class="fas fa-user"></i>
          </div>

          <div class="inputConIcon">
            <input
              type="email"
              id="email"
              name="email"
              class="input-email"
              placeholder="Email"
            />
            <i class="fas fa-envelope"></i>
          </div>
        </div>

        <div class="fiels">
          <div class="inputConIcon textareaIcon">
            <textarea
              name="comentarios"
              id="comentarios"
              class="textarea"
              placeholder="Ingrese su mensaje"
            ></textarea>
            <i class="fas fa-comments"></i>
          </div>
        </div>

        <div class="fiels-btn">
          <input type="submit" class="btn btn-input" value="Enviar" />
        </div>
      </form>
    </section>

    <!-- ALERTAS -->
    <div class="alertas">
      <div id="alertError" class="alert hide">
        <span class="icono-alert fas fa-exclamation-circle"></span>
        <span class="msg">Error:campos de entrada vacios.</span>
      </div>

      <div id="alertSuccess" class="alert hide">
        <span class="icono-alert fas fa-check-circle"></span>
        <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
      </div>
    </div>

    <!-- SECCION FOOTER -->
    <footer>
      <div class="sociales-metodo">
        <i class="fas fa-map-marker-alt"></i>
        <span>puedes contactarnos por lo sieguientes lugars</span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-envelope"></i>
        <span>info@wilest.com</span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-phone"></i>
        <span>0180005223335</span>
      </div>

      <div class="sociales-metodo">
        <i class="fab fa-whatsapp"></i>
        <span>+57 315 489 7451
        </span>
      </div>
    </footer>

    <script src="../js/app.js"></script>
  </body>
</html>
