<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css" />
      
    <title>Wilest</title>
  </head>
  <body>
    <!-- BOTON DE IR ARRIBA -->
    <div id="btn-top">
      <span class="fas fa-angle-up"></span>
    </div>

    <!-- MENU PRINCIPAL -->
    <div class="menu-principal">
      <div class="logo" id="logo">
        <a href ="index.html"><img src="../img/logo.png" alt="Logo" /></a>
      </div>

      <div class="menu-bar" id="menuBar">
        <i class="fas fa-angle-right" id="btnMenuClose"></i>
        

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="/Wilest/view/Login.html">Login</a></li>
            <li><a href="/Wilest/view/Register.html">Registrarse</a></li>
          </ul>
        </nav>

        <div class="sociales">
          <!--<li><a href="/Wilest/view/Login.html">Login</a></li>-->
          <a href="/Wilest/view/site.html"><span class="fa fa-cart-plus"></span></a>
          

        </div>
      </div>

      <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>

    <!--Formulario Registrarse-->

    <section class="form-register">
        <!--titulo-->
        <h4>Formulario Registro</h4>

        <input class="controls" type="text" name="nombres" 
        id="nombres" placeholder="Ingrese su Nombre">
        <!--registros-->
        <input class="controls" type="text" name="apellidos" 
        id="apellidos" placeholder="Ingrese su Apellido">

        <input class="controls" type="email" name="correo" 
        id="correo" placeholder="Ingrese su Correo">

        <input class="controls" type="password" name="correo" 
        id="correo" placeholder="Ingrese su Contraseña">

        <!--Botón-->

        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
      </section>
  </body>
</html>